:root {
    --main-bg-color: rgba(172, 196, 165, 0.75);
    --main-accent-color: rgb(242, 132, 53);
    --main-light-color: rgb(214, 250, 203);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

body {
    color: #333;
    background-color: var(--main-bg-color);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(232, 122, 43);
}

.rc-scout__link a, .rc-scout__link:link, .rc-scout__link:visited {
    text-decoration: none;
    font-weight: bold;
    color: rgb(232, 122, 43) !important;
}

a:hover, a:focus {
    text-decoration: underline;
}

.container {
    max-width: 1000px;
}

.right {
    float: right;
    text-align: right;
}

.navbar {
    border-radius: 0;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-brand {
    color: #333;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-brand:hover {
    color: #333;
}

.navbar-default .navbar-nav li a {
    color: #333;
}

.navbar-default .navbar-nav li a:hover {
    color: #333;
    background-color: var(--main-accent-color);
}

.navbar-default .navbar-nav .active a {
    color: #fff;
    background-color: var(--main-accent-color);
}

.navbar-default .navbar-toggle:hover{
    background-color: var(--main-accent-color);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.dropdown-menu {
    background-color: var(--main-light-color);
}

.navbar-brand {
    font-size: 32px;
}

.dropdown-header {
    color: #333;
    font-size: 15px;
    font-weight: 600;
    padding-left :10px;
}
.dropdown-menu li a {
    color: #333;
}

.navbar-default .navbar-nav .open a:hover,
.navbar-default .navbar-nav .open a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: var(--main-accent-color);
    color: #fff;
}

#content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

#content img {
    max-width: 100%;
    height: auto;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
}

#post-tags {
    margin-top: 30px;
}

#prev-next {
    padding: 15px 0;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h2 {
    font-size: 32px;
}

#post-meta {
    font-size: 14px;
    color: rgba(0,0,0,0.4)
}

#page-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 32px;
}

pre {
    overflow-x: auto;
}
pre code {
    overflow-wrap: normal;
    white-space: pre;
}

code {
    color: #428bca;
}

pre, code, .hljs {
    background-color: var(--main-light-color);
}

@media (min-width: 768px) {
    .navbar {
        min-height: 70px;
    }
    .dropdown-menu>li>a {
        padding: 3px 20px;
    }
    .navbar-nav>li>a {
        padding: 30px 20px;
    }
    .navbar-default .navbar-brand {
        font-size: 36px;
        padding: 25px 15px;
    }
    #content{
        margin-top: 30px;
        padding: 50px 75px;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 14px;
    }
    .navbar-default .navbar-brand {
        font-size: 30px;
    }
    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}
